{% extends 'base.html' %}

{% block title %}ML Project{% endblock %}

{% block content %}
<section id="project-ml" class="content">
    <h2>Fruit and Vegetable Image Classification | Machine Learning, Image Processing</h2>
    

    <p>
        <a href="{{ url_for('static', filename='docs/FinalProject.ipynb') }}" download>Download Project</a> | 
        <a href="https://github.com/AdamNur422/Applied-Machine-Learning.git" target="_blank">View Code on GitHub</a>
    </p>
    <iframe src="{{ url_for('static', filename='docs/FinalProject.pdf') }}" width="100%" height="500px"></iframe>
</section>
{% endblock %}
