{% extends 'base.html' %}

{% block title %}Riff Room {% endblock %}

{% block content %}
<section id="project-riff-room" class="content">
    <h2>Riff Room | Full Stack Development</h2>
    <p class="date">December 2023</p>
    <ul>
        <li>Developed a full-stack social music-sharing platform with features like posting, interactive engagement, session creation, and comprehensive user profiles.</li>
        <li>Utilized Amazon Web Services (AWS) for backend support, including the storage of user profile pictures and posts.</li>
        <li>Implemented video hosting capabilities to diversify content and further engage users.</li>
        <li>Enhanced user experience with time-stamped posts, security features, a map API for session visualization, and CDN for efficient content delivery.</li>
    </ul>
    <p>
        The link to the website: <a href="https://riffroom.onrender.com" target="_blank">riffroom.onrender.com</a> (currently inactive as the service has been suspended by its owner).
    </p>
    <p><strong>Note:</strong> The app won't start due to expired AWS credentials, which are required for backend operations.</p>
</section>
{% endblock %}
