{% extends 'base.html' %}

{% block title %}Experience{% endblock %}

{% block content %}
<section id="experience" class="content">
    <h2>Experience</h2>
    <div class="experience-item">
        <h3>Teaching Assistant at UNCC</h3>
        <p class="date">Jan 2024 - Present</p>
        <p>Responsibilities:</p>
        <ul>
            <li>Prepared lectures as well as lab sessions. </li>
            <li>Hosted office hours to help tutor students as well as awnser questions related to course material.</li>
            <li>Graded assignments, quizzes, and exams.</li>
        </ul>


        <div class="course-summary">
            <h4>ITSC 2175 - Logic and Algorithms</h4>
            <p>Description: A comprehensive study of discrete mathematical concepts. This course covers:</p>
            <ul>
                <li>Propositional Calculus</li>
                <li>Predicate Calculus</li>
                <li>Algorithms</li>
                <li>Logic Functions</li>
                <li>Finite-State Machines</li>
                <li>Logic Design</li>
            </ul>
        </div>

        <div class="course-summary">
            <h4>ITSC 2181 - Introduction to Computer Systems</h4>
            <p>Description: Introduction to computer system abstractions reflected in programming languages, operating systems, architectures, and networks.This course covers:</p>
            <ul>
                <li>Overview of computer architecture</li>
                <li>Instruction set architecture</li>
                <li>Assembly</li> 
                <li>C programming</li>
                <li>System calls</li>
                <li>Processes and process memory layout</li>
                <li>Interfaces for memory allocation and file systems</li>
                <li>File and directory management via the command line</li>
                <li>Network architecture and protocols (such as HTTP, MAC, IP, DNS)</li>
            </ul>
        </div>
    </div>


    <div class="experience-item">
        <h3>CCI Dean Ambassador</h3>
        <p class="date">Oct 2023 - Present</p>
        <p>Responsibilities:</p>
        <ul>
            <li>Supported, promoted, and represented the College of Computing and Informatics at UNC Charlotte.</li>
            <li>Worked to increase diversity, promote engagement, and foster community and inclusiveness within CCI.</li>
            <li>Provided peer assistance by working events or in the CCI Student Center.</li>
            <li>Helped classmates succeed by offering guidance and support in various academic and extracurricular activities.</li>
            <li>Staffed the CCI Student Center, offering information and assistance to students and prospective students.</li>
        </ul>
    </div>


</section>
{% endblock %}
